<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRDnZICG7a7vmIdD7KwUSK2YWu1Be8KcA</string>
	<key>GCM_SENDER_ID</key>
	<string>901589993924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flashcard.language</string>
	<key>PROJECT_ID</key>
	<string>flashcar-3900c</string>
	<key>STORAGE_BUCKET</key>
	<string>flashcar-3900c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901589993924:ios:4cd8472f9eb0e17921bc91</string>
</dict>
</plist>